In [40]:
import pandas as pd
data=pd.read_csv("boxoffice.csv")
data

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
0,1,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,196,Devara Part 1,7361414.0,5600000.0,76.1,1761414.0,23.9,2024,"Action, Drama",7.0/10,30.0,te,India
4996,197,Kolpaçino 4 4'lük,7343114.0,0.0,0.0,7343114.0,100.0,2024,Comedy,4.0/10,4.0,tr,Turkey
4997,198,Lim Young Woong: Im Hero the Stadium,7305588.0,0.0,0.0,7305588.0,100.0,2024,"Music, Documentary",0.0/10,0.0,ko,South Korea
4998,199,Yolo,7241561.0,2001584.0,27.6,5239977.0,72.4,2024,"Drama, Comedy, Action",6.3/10,70.0,zh,China
4999,200,Sight,7206741.0,7206741.0,100.0,0.0,0.0,2024,"Drama, History",6.0/10,23.0,en,United States of America

In [5]:
print(data.shape)
print(data.info())
print(data.describe())
print(data.isnull().sum())

(5000, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  5000 non-null   int64
 1   Release Group         5000 non-null   object
 2   $Worldwide            5000 non-null   float64
 3   $Domestic             5000 non-null   float64
 4   Domestic %            5000 non-null   float64
 5   $Foreign              5000 non-null   float64
 6   Foreign %             5000 non-null   float64
 7   Year                  5000 non-null   int64
 8   Genres                4822 non-null   object
 9   Rating                4830 non-null   object
 10  Vote_Count            4830 non-null   float64
 11  Original_Language     4830 non-null   object
 12  Production_Countries  4800 non-null   object
dtypes: float64(6), int64(2), object(5)
memory usage: 507.9+ KB
None
             Rank    $Worldwide     $Domestic   Domestic %      $Foreign  \
count  5000.00000  5.000000e+03  5.000000e+03  5000.000000  5.000000e+03
mean    100.50000  1.192137e+08  4.472523e+07    35.740620  7.448809e+07
std      57.74008  2.005243e+08  7.727026e+07    30.656992  1.334932e+08
min       1.00000  1.666028e+06  0.000000e+00     0.000000  0.000000e+00
25%      50.75000  2.466220e+07  9.275150e+04     0.200000  1.371034e+07
50%     100.50000  4.844658e+07  1.798421e+07    37.050000  3.019444e+07
75%     150.25000  1.197588e+08  5.386847e+07    57.800000  7.211578e+07
max     200.00000  2.799439e+09  9.366622e+08   100.000000  1.993811e+09

         Foreign %         Year    Vote_Count
count  5000.000000  5000.000000   4830.000000
mean     64.256640  2012.000000   2531.585921
std      30.654531     7.211824   3946.272827
min       0.000000  2000.000000      0.000000
25%      42.200000  2006.000000    205.250000
50%      62.950000  2012.000000   1035.500000
75%      99.800000  2018.000000   3065.000000
max     100.000000  2024.000000  36753.000000
Rank                      0
Release Group             0
$Worldwide                0
$Domestic                 0
Domestic %                0
$Foreign                  0
Foreign %                 0
Year                      0
Genres                  178
Rating                  170
Vote_Count              170
Original_Language       170
Production_Countries    200
dtype: int64

In [6]:
missing_values = data.isna().sum()
print(missing_values)

Rank                      0
Release Group             0
$Worldwide                0
$Domestic                 0
Domestic %                0
$Foreign                  0
Foreign %                 0
Year                      0
Genres                  178
Rating                  170
Vote_Count              170
Original_Language       170
Production_Countries    200
dtype: int64

In [7]:
data_cleaned = data.dropna()
print(data_cleaned)

      Rank                         Release Group   $Worldwide    $Domestic  \
0        1                Mission: Impossible II  546388108.0  215409889.0
1        2                             Gladiator  460583960.0  187705427.0
2        3                             Cast Away  429632142.0  233632142.0
3        4                       What Women Want  374111707.0  182811707.0
4        5                              Dinosaur  349822765.0  137748063.0
...    ...                                   ...          ...          ...
4995   196                         Devara Part 1    7361414.0    5600000.0
4996   197                     Kolpaçino 4 4'lük    7343114.0          0.0
4997   198  Lim Young Woong: Im Hero the Stadium    7305588.0          0.0
4998   199                                  Yolo    7241561.0    2001584.0
4999   200                                 Sight    7206741.0    7206741.0

      Domestic %     $Foreign  Foreign %  Year                        Genres  \
0           39.4  330978219.0       60.6  2000   Adventure, Action, Thriller
1           40.8  272878533.0       59.2  2000      Action, Drama, Adventure
2           54.4  196000000.0       45.6  2000              Adventure, Drama
3           48.9  191300000.0       51.1  2000               Comedy, Romance
4           39.4  212074702.0       60.6  2000  Animation, Family, Adventure
...          ...          ...        ...   ...                           ...
4995        76.1    1761414.0       23.9  2024                 Action, Drama
4996         0.0    7343114.0      100.0  2024                        Comedy
4997         0.0    7305588.0      100.0  2024            Music, Documentary
4998        27.6    5239977.0       72.4  2024         Drama, Comedy, Action
4999       100.0          0.0        0.0  2024                Drama, History

        Rating  Vote_Count Original_Language  \
0     6.126/10      6741.0                en
1     8.217/10     19032.0                en
2     7.663/10     11403.0                en
3      6.45/10      3944.0                en
4     6.544/10      2530.0                en
...        ...         ...               ...
4995    7.0/10        30.0                te
4996    4.0/10         4.0                tr
4997    0.0/10         0.0                ko
4998    6.3/10        70.0                zh
4999    6.0/10        23.0                en

                          Production_Countries
0                     United States of America
1     United Kingdom, United States of America
2                     United States of America
3     United Kingdom, United States of America
4                     United States of America
...                                        ...
4995                                     India
4996                                    Turkey
4997                               South Korea
4998                                     China
4999                  United States of America

[4797 rows x 13 columns]

In [9]:
data.head(5)

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
0,1,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America

In [10]:
data.tail()

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
4995,196,Devara Part 1,7361414.0,5600000.0,76.1,1761414.0,23.9,2024,"Action, Drama",7.0/10,30.0,te,India
4996,197,Kolpaçino 4 4'lük,7343114.0,0.0,0.0,7343114.0,100.0,2024,Comedy,4.0/10,4.0,tr,Turkey
4997,198,Lim Young Woong: Im Hero the Stadium,7305588.0,0.0,0.0,7305588.0,100.0,2024,"Music, Documentary",0.0/10,0.0,ko,South Korea
4998,199,Yolo,7241561.0,2001584.0,27.6,5239977.0,72.4,2024,"Drama, Comedy, Action",6.3/10,70.0,zh,China
4999,200,Sight,7206741.0,7206741.0,100.0,0.0,0.0,2024,"Drama, History",6.0/10,23.0,en,United States of America

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  5000 non-null   int64
 1   Release Group         5000 non-null   object
 2   $Worldwide            5000 non-null   float64
 3   $Domestic             5000 non-null   float64
 4   Domestic %            5000 non-null   float64
 5   $Foreign              5000 non-null   float64
 6   Foreign %             5000 non-null   float64
 7   Year                  5000 non-null   int64
 8   Genres                4822 non-null   object
 9   Rating                4830 non-null   object
 10  Vote_Count            4830 non-null   float64
 11  Original_Language     4830 non-null   object
 12  Production_Countries  4800 non-null   object
dtypes: float64(6), int64(2), object(5)
memory usage: 507.9+ KB

In [13]:
data.columns

Index(['Rank', 'Release Group', '$Worldwide', '$Domestic', 'Domestic %',
       '$Foreign', 'Foreign %', 'Year', 'Genres', 'Rating', 'Vote_Count',
       'Original_Language', 'Production_Countries'],
      dtype='object')

In [14]:
data.isnull().sum()

Rank                      0
Release Group             0
$Worldwide                0
$Domestic                 0
Domestic %                0
$Foreign                  0
Foreign %                 0
Year                      0
Genres                  178
Rating                  170
Vote_Count              170
Original_Language       170
Production_Countries    200
dtype: int64

In [16]:
data['Genres']

0        Adventure, Action, Thriller
1           Action, Drama, Adventure
2                   Adventure, Drama
3                    Comedy, Romance
4       Animation, Family, Adventure
                    ...
4995                   Action, Drama
4996                          Comedy
4997              Music, Documentary
4998           Drama, Comedy, Action
4999                  Drama, History
Name: Genres, Length: 5000, dtype: object

In [20]:
unique=data['Genres'].unique()
unique

array(['Adventure, Action, Thriller', 'Action, Drama, Adventure',
       'Adventure, Drama', ..., 'Documentary, History',
       'Action, Adventure, Animation, Fantasy', 'Drama, Comedy, Action'],
      dtype=object)

In [22]:
d=data.duplicated()
d

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [23]:
data.describe()

,Rank,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Vote_Count
count,5000.00000,5.000000e+03,5.000000e+03,5000.000000,5.000000e+03,5000.000000,5000.000000,4830.000000
mean,100.50000,1.192137e+08,4.472523e+07,35.740620,7.448809e+07,64.256640,2012.000000,2531.585921
std,57.74008,2.005243e+08,7.727026e+07,30.656992,1.334932e+08,30.654531,7.211824,3946.272827
min,1.00000,1.666028e+06,0.000000e+00,0.000000,0.000000e+00,0.000000,2000.000000,0.000000
25%,50.75000,2.466220e+07,9.275150e+04,0.200000,1.371034e+07,42.200000,2006.000000,205.250000
50%,100.50000,4.844658e+07,1.798421e+07,37.050000,3.019444e+07,62.950000,2012.000000,1035.500000
75%,150.25000,1.197588e+08,5.386847e+07,57.800000,7.211578e+07,99.800000,2018.000000,3065.000000
max,200.00000,2.799439e+09,9.366622e+08,100.000000,1.993811e+09,100.000000,2024.000000,36753.000000

In [25]:
data = data.rename(columns={'Genres': 'Genre'})
data

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genre,Rating,Vote_Count,Original_Language,Production_Countries
0,1,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,196,Devara Part 1,7361414.0,5600000.0,76.1,1761414.0,23.9,2024,"Action, Drama",7.0/10,30.0,te,India
4996,197,Kolpaçino 4 4'lük,7343114.0,0.0,0.0,7343114.0,100.0,2024,Comedy,4.0/10,4.0,tr,Turkey
4997,198,Lim Young Woong: Im Hero the Stadium,7305588.0,0.0,0.0,7305588.0,100.0,2024,"Music, Documentary",0.0/10,0.0,ko,South Korea
4998,199,Yolo,7241561.0,2001584.0,27.6,5239977.0,72.4,2024,"Drama, Comedy, Action",6.3/10,70.0,zh,China
4999,200,Sight,7206741.0,7206741.0,100.0,0.0,0.0,2024,"Drama, History",6.0/10,23.0,en,United States of America

In [29]:
print(data['Foreign %'].mean())
print(data['Foreign %'].median())
print(data['Foreign %'].mode())
print(data['Foreign %'].std())

64.25664
62.95
0    100.0
Name: Foreign %, dtype: float64
30.654531410047394

In [28]:
v=data.corr()
v

ValueError: could not convert string to float: 'Mission: Impossible II'

In [30]:
numeric_data = data.select_dtypes(include=['number'])
v = numeric_data.corr()
print(v)

                    Rank  $Worldwide  $Domestic  Domestic %  $Foreign  \
Rank        1.000000e+00   -0.625564  -0.619411   -0.174010 -0.581145
$Worldwide -6.255644e-01    1.000000   0.915169    0.034446  0.972402
$Domestic  -6.194107e-01    0.915169   1.000000    0.251064  0.795872
Domestic % -1.740102e-01    0.034446   0.251064    1.000000 -0.093580
$Foreign   -5.811453e-01    0.972402   0.795872   -0.093580  1.000000
Foreign %   1.739609e-01   -0.034409  -0.251036   -0.999995  0.093619
Year        1.208315e-14    0.056716  -0.022977   -0.293903  0.098491
Vote_Count -5.528240e-01    0.723369   0.730900    0.113083  0.663643

            Foreign %          Year  Vote_Count
Rank         0.173961  1.208315e-14   -0.552824
$Worldwide  -0.034409  5.671559e-02    0.723369
$Domestic   -0.251036 -2.297744e-02    0.730900
Domestic %  -0.999995 -2.939030e-01    0.113083
$Foreign     0.093619  9.849134e-02    0.663643
Foreign %    1.000000  2.938340e-01   -0.113076
Year         0.293834  1.000000e+00   -0.014070
Vote_Count  -0.113076 -1.407004e-02    1.000000

In [31]:
import pandas as pd
import numpy as np

# Original DataFrame
data = pd.DataFrame({
    'Rank': [1, 2, 3, 4, 5],
    'Release Group': ['Mission: Impossible II', 'Gladiator', 'Cast Away', 'What Women Want', 'Dinosaur'],
    '$Worldwide': [546388108.0, 460583960.0, 429632142.0, 374111707.0, 349822765.0],
    '$Domestic': [215409889.0, 187705427.0, 233632142.0, 182811707.0, 137748063.0],
    'Domestic %': [39.4, 40.8, 54.4, 48.9, 39.4],
    '$Foreign': [330978219.0, 272878533.0, 196000000.0, 191300000.0, 212074702.0],
    'Foreign %': [60.6, 59.2, 45.6, 51.1, 60.6],
    'Year': [2000, 2000, 2000, 2000, 2000],
    'Genres': ['Adventure, Action, Thriller', 'Action, Drama, Adventure', 'Adventure, Drama', 'Comedy, Romance', 'Animation, Family, Adventure'],
    'Rating': ['6.126/10', '8.217/10', '7.663/10', '6.45/10', '6.544/10'],
    'Vote_Count': [6741.0, 19032.0, 11403.0, 3944.0, 2530.0],
    'Original_Language': ['en', 'en', 'en', 'en', 'en'],
    'Production_Countries': ['United States of America', 'United Kingdom, United States of America', 'United States of America', 'United Kingdom, United States of America', 'United States of America']
})

# Create 3 rows with NaN values and add them as duplicates
for _ in range(3):
    # Create a new row by selecting random rows from the original DataFrame and introducing NaNs
    new_row = data.sample(1).reset_index(drop=True)  # Random row
    for col in new_row.columns:
        if np.random.rand() > 0.5:  # 50% chance to introduce NaN in this column
            new_row[col] = np.nan
    data = pd.concat([data, new_row], ignore_index=True)

# Check the resulting DataFrame with null values
print(data)

   Rank           Release Group   $Worldwide    $Domestic  Domestic %  \
0   1.0  Mission: Impossible II  546388108.0  215409889.0        39.4
1   2.0               Gladiator  460583960.0  187705427.0        40.8
2   3.0               Cast Away  429632142.0  233632142.0        54.4
3   4.0         What Women Want  374111707.0  182811707.0        48.9
4   5.0                Dinosaur  349822765.0  137748063.0        39.4
5   3.0                     NaN  429632142.0  233632142.0        54.4
6   2.0               Gladiator          NaN          NaN        40.8
7   NaN                     NaN  429632142.0  233632142.0        54.4

      $Foreign  Foreign %    Year                        Genres    Rating  \
0  330978219.0       60.6  2000.0   Adventure, Action, Thriller  6.126/10
1  272878533.0       59.2  2000.0      Action, Drama, Adventure  8.217/10
2  196000000.0       45.6  2000.0              Adventure, Drama  7.663/10
3  191300000.0       51.1  2000.0               Comedy, Romance   6.45/10
4  212074702.0       60.6  2000.0  Animation, Family, Adventure  6.544/10
5  196000000.0       45.6  2000.0                           NaN  7.663/10
6  272878533.0        NaN     NaN      Action, Drama, Adventure       NaN
7          NaN       45.6     NaN                           NaN  7.663/10

   Vote_Count Original_Language                      Production_Countries
0      6741.0                en                  United States of America
1     19032.0                en  United Kingdom, United States of America
2     11403.0                en                  United States of America
3      3944.0                en  United Kingdom, United States of America
4      2530.0                en                  United States of America
5     11403.0                en                                       NaN
6         NaN                en  United Kingdom, United States of America
7         NaN                en                                       NaN

In [33]:
# Replace NaN values in the 'Rank' column with the mode (most frequent value)
data['Rank'] = data['Rank'].fillna(data['Rank'].mode()[0])
data

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
0,1.0,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000.0,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2.0,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000.0,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3.0,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000.0,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4.0,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000.0,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5.0,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000.0,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America
5,3.0,NaN,429632142.0,233632142.0,54.4,196000000.0,45.6,2000.0,NaN,7.663/10,11403.0,en,NaN
6,2.0,Gladiator,NaN,NaN,40.8,272878533.0,NaN,NaN,"Action, Drama, Adventure",NaN,NaN,en,"United Kingdom, United States of America"
7,2.0,NaN,429632142.0,233632142.0,54.4,NaN,45.6,NaN,NaN,7.663/10,NaN,en,NaN

In [43]:
numeric_columns = data.select_dtypes(include=[np.number]).columns
data[numeric_columns] = data[numeric_columns].fillna(data[numeric_columns].mean())
non_numeric_columns = data.select_dtypes(exclude=[np.number]).columns
data[non_numeric_columns] = data[non_numeric_columns].fillna(data[non_numeric_columns].mode().iloc[0])
print(data)

      Rank                         Release Group   $Worldwide    $Domestic  \
0        1                Mission: Impossible II  546388108.0  215409889.0
1        2                             Gladiator  460583960.0  187705427.0
2        3                             Cast Away  429632142.0  233632142.0
3        4                       What Women Want  374111707.0  182811707.0
4        5                              Dinosaur  349822765.0  137748063.0
...    ...                                   ...          ...          ...
4995   196                         Devara Part 1    7361414.0    5600000.0
4996   197                     Kolpaçino 4 4'lük    7343114.0          0.0
4997   198  Lim Young Woong: Im Hero the Stadium    7305588.0          0.0
4998   199                                  Yolo    7241561.0    2001584.0
4999   200                                 Sight    7206741.0    7206741.0

      Domestic %     $Foreign  Foreign %  Year                        Genres  \
0           39.4  330978219.0       60.6  2000   Adventure, Action, Thriller
1           40.8  272878533.0       59.2  2000      Action, Drama, Adventure
2           54.4  196000000.0       45.6  2000              Adventure, Drama
3           48.9  191300000.0       51.1  2000               Comedy, Romance
4           39.4  212074702.0       60.6  2000  Animation, Family, Adventure
...          ...          ...        ...   ...                           ...
4995        76.1    1761414.0       23.9  2024                 Action, Drama
4996         0.0    7343114.0      100.0  2024                        Comedy
4997         0.0    7305588.0      100.0  2024            Music, Documentary
4998        27.6    5239977.0       72.4  2024         Drama, Comedy, Action
4999       100.0          0.0        0.0  2024                Drama, History

        Rating  Vote_Count Original_Language  \
0     6.126/10      6741.0                en
1     8.217/10     19032.0                en
2     7.663/10     11403.0                en
3      6.45/10      3944.0                en
4     6.544/10      2530.0                en
...        ...         ...               ...
4995    7.0/10        30.0                te
4996    4.0/10         4.0                tr
4997    0.0/10         0.0                ko
4998    6.3/10        70.0                zh
4999    6.0/10        23.0                en

                          Production_Countries
0                     United States of America
1     United Kingdom, United States of America
2                     United States of America
3     United Kingdom, United States of America
4                     United States of America
...                                        ...
4995                                     India
4996                                    Turkey
4997                               South Korea
4998                                     China
4999                  United States of America

[5000 rows x 13 columns]

In [45]:
data

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
0,1,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,196,Devara Part 1,7361414.0,5600000.0,76.1,1761414.0,23.9,2024,"Action, Drama",7.0/10,30.0,te,India
4996,197,Kolpaçino 4 4'lük,7343114.0,0.0,0.0,7343114.0,100.0,2024,Comedy,4.0/10,4.0,tr,Turkey
4997,198,Lim Young Woong: Im Hero the Stadium,7305588.0,0.0,0.0,7305588.0,100.0,2024,"Music, Documentary",0.0/10,0.0,ko,South Korea
4998,199,Yolo,7241561.0,2001584.0,27.6,5239977.0,72.4,2024,"Drama, Comedy, Action",6.3/10,70.0,zh,China
4999,200,Sight,7206741.0,7206741.0,100.0,0.0,0.0,2024,"Drama, History",6.0/10,23.0,en,United States of America

In [51]:
# Display the first few rows of your original dataset to check for the 'Year' column
print(data.head())

# Display the column names to ensure 'Year' is still present
print(data.columns)

      Rank           Release Group   $Worldwide    $Domestic  Domestic %  \
Year
2000     1  Mission: Impossible II  546388108.0  215409889.0        39.4
2000     2               Gladiator  460583960.0  187705427.0        40.8
2000     3               Cast Away  429632142.0  233632142.0        54.4
2000     4         What Women Want  374111707.0  182811707.0        48.9
2000     5                Dinosaur  349822765.0  137748063.0        39.4

         $Foreign  Foreign %                        Genres    Rating  \
Year
2000  330978219.0       60.6   Adventure, Action, Thriller  6.126/10
2000  272878533.0       59.2      Action, Drama, Adventure  8.217/10
2000  196000000.0       45.6              Adventure, Drama  7.663/10
2000  191300000.0       51.1               Comedy, Romance   6.45/10
2000  212074702.0       60.6  Animation, Family, Adventure  6.544/10

      Vote_Count Original_Language                      Production_Countries  \
Year
2000      6741.0                en                  United States of America
2000     19032.0                en  United Kingdom, United States of America
2000     11403.0                en                  United States of America
2000      3944.0                en  United Kingdom, United States of America
2000      2530.0                en                  United States of America

      $Worldwide_cumsum
Year
2000       5.463881e+08
2000       1.006972e+09
2000       1.436604e+09
2000       1.810716e+09
2000       2.160539e+09
Index(['Rank', 'Release Group', '$Worldwide', '$Domestic', 'Domestic %',
       '$Foreign', 'Foreign %', 'Genres', 'Rating', 'Vote_Count',
       'Original_Language', 'Production_Countries', '$Worldwide_cumsum'],
      dtype='object')

In [54]:
data.columns = data.columns.str.strip()
data.columns

Index(['Rank', 'Release Group', '$Worldwide', '$Domestic', 'Domestic %',
       '$Foreign', 'Foreign %', 'Genres', 'Rating', 'Vote_Count',
       'Original_Language', 'Production_Countries', '$Worldwide_cumsum'],
      dtype='object')